@model Bootcamp

<p>
    <b>@Model.Baslik</b> bootcampini silmek istediğinize emin misiniz ?

    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.BootcampId" name="id">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>